exec/*.rda
.Rproj.user
.Rhistory
src/stan_files/*.o
src/stan_files/*.cc
src/stan_files/*.hpp
src/rstanarm.so
src/rstanarm.dll
src/init.o
man/*.Rd
!man/rstanarm-internal.Rd
vignettes/*.R
!vignettes/*.Rmd
vignettes/*.html
vignettes/*_files
.DS_Store
