exec/*.rda
.Rproj.user
.Rhistory
src/Modules*
src/rstanarm.so
src/init.o
src/include
man/*.Rd
!man/rstanarm-internal.Rd
vignettes/*.R
!vignettes/*.Rmd
vignettes/*.html
vignettes/*_files
.DS_Store
docs/*
