exec/*.rda
.Rproj.user
.Rhistory
src/*.o
src/*.o.tmp
src/*.cc
src/*.hpp
src/rstanarm.so
src/rstanarm.dll
src/init.o
vignettes/*.R
!vignettes/*.Rmd
vignettes/*.html
vignettes/*_files
.DS_Store
revdep/*
/doc/
