language: r
sudo: false
r: devel
cache: packages

r_github_packages:
  - HenrikBengtsson/matrixStats@develop
  - jimhester/covr

env:
  matrix: 
    - CXX_OLEVEL=2 CXX=clang++

before_install:
  - mkdir -p ~/.R/
  - echo "CXX = `R CMD config CXX`" >> ~/.R/Makevars
  - echo "CXXFLAGS = `R CMD config CXXFLAGS` -pedantic -g0" >> ~/.R/Makevars 
  - export CLANG_EXTRA_ARG=""
  - if [[ $CXX = "clang++" ]] ;  then export CLANG_EXTRA_ARG=" -Qunused-arguments -fcolor-diagnostics " ; fi
  - sed -i.bak "s/ g++/ ${CXX}${CLANG_EXTRA_ARG}/" ~/.R/Makevars
  - sed -i.bak "s/O[0-3]/O$CXX_OLEVEL/" ~/.R/Makevars
  
script: 
  - |
    R CMD build .
    travis_wait 30 R CMD check rstanarm*tar.gz

after_script:
  - tar -ztvf rstanarm_*.tar.gz
  - echo ${NOT_CRAN}

after_success:
  - tar -C .. -xf $PKG_TARBALL
  - Rscript -e 'covr::codecov()'

after_failure:
  - cat rstanarm.Rcheck/00*
