# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.os }}

    name: R CMD CHECK - ${{ matrix.os }} (${{ matrix.r }})

    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, windows-latest, ubuntu-latest, ubuntu-24.04-arm]
        r: ['devel', 'release', 'oldrel']
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      TESTTHAT_CPUS: 4

    steps:
      - uses: n1hility/cancel-previous-runs@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
        if: "!startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/master'"

      - uses: actions/checkout@main

      - uses: r-lib/actions/setup-r@v2.11.4
        with:
          r-version: ${{ matrix.r }}

      - uses: r-lib/actions/setup-pandoc@v2.11.4
      - uses: r-lib/actions/setup-r-dependencies@v2.11.4
        with:
          extra-packages: any::rcmdcheck any::betareg any::HSAUR3 any::biglm any::gamm4 any::V8
      - uses: r-lib/actions/check-r-package@v2.11.4
